*{
    margin: 0;
    padding: 0;
}

.main{
    background-image: url(assets/background.jpg);
    position: relative;
    height: 80vh;
}

.main .box{
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.44;
    background-color: black;
}

.main .box .nav{
    height: 10px;
}

.signin{
    color: white;
    background-color: rgb(229,9,20);
    border-radius: 0.25rem;
    padding: 0.25rem 1rem;
    min-height: 2rem;
    font-weight: 500;
    font-size: 0.875rem;
    border: 0;
    cursor: pointer;
    fill: currentColor;
    position: relative;
    transition-duration: 250ms;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.4,0,0.68,0.06);
    vertical-align: text-top;
    width: auto;
}

.English{
        font-family: unset;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    padding-top: 0.375rem;
    padding-right: calc(2.25rem + 0rem);
    padding-bottom: 0.375rem;
    padding-left: calc(0.625rem + 1rem + 0.5rem);
}

.logo{
        width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
}